body {
    padding-top: 60px;
}

a.anchor-pos {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}


.nav-onto-merger {
    height: 70px;
}

.navbar-onto-merger {
    padding-top: 10px;
}

.navbar-title-onto-merger {
    padding-top: 25px;
}

/*.nav-link.active {*/
/*    background-color: #004fa5;*/
/*}*/

.onto-merger-logo {
    max-height: 40px;
}

.page-header {
    border-bottom: none;
    margin-bottom: 1px;
}

.page-header img {
    float: left;
    width: 40px;
    height: 40px;
    background: #555;
}

.section-items {
    border: 1px solid lightgray;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.row.spacing{
    padding: 0.25em 1em;
}

.tab-pane {
    padding-left: 5px;
}

/* Full row tables */
div.table-full-row {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.table-hover.third_party_data {
    table-layout: auto;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

p.h4.table-title {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

img.status_check {
    height: 15px;
    width: 15px;
    horiz-align: center;
}

div.overview.summary {
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

div.col-sm-6 {
    margin-top: 20px;
}
div.text.about {
    margin: 10px;
}

div.three-parts {
    padding-top: 10px;
}

div.three-parts-bottom {
    padding-top: 0;
    padding-bottom: 0;
}

div.three-parts-top-row {
    padding-bottom: 5px;
}

.footer-text {
    padding-top: 25px;
    padding-bottom: 25px;
}

hr.panel-separator {
    height:1px;
    border-width:0;
    color:lightgray;
    background-color:lightgray
}


/* Badges */
span.badge.bg-primary.input {
    alignment: center;
    background-color: black;
}
span.badge.bg-primary.alignment {
    background-color: blue;
}
span.badge.bg-primary.connectivity {
    background-color: darkgreen;
}
span.badge.bg-primary.output {
    background-color: da;
    border-color: black;
}

span.badge.bg-primary.node {
    background-color: cornflowerblue;
}
span.badge.bg-primary.node_obsolete {
    background-color: dodgerblue;
}
span.badge.bg-primary.mapping {
    background-color: dimgray;
}
span.badge.bg-primary.edge {
    background-color: darkgreen;
}
span.badge.bg-primary.label {
    border-radius: 0.25em;
}