tqdm
numpy
sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints
sphinx-automodapi
pandas
mock
six
nbsphinx
nbsphinx_link
jupyter-sphinx
Cython
markupsafe==2.0.1
nbconvert
sphinxcontrib-pseudocode
Jinja2==3.0.0
